<div class="home">
  <app-header (search)="onSearch($event)"></app-header>

  <!-- Photo Grid -->
  <div id="photos">
    <app-image *ngFor="let photo of photos; trackBy: trackById" [photo]="photo" (liked)="toggleLike($event)" (click)="activateImage(photo)"></app-image>
  </div>

  <div *ngIf="imageToZoom" class="zoomed-image-container" appZoomImage [imageToZoom]="imageToZoom">
    <span class="close-zoom-container" (click)="closeZoomedImageContainer()">X</span>
    <img [src]="imageToZoom.activeImage" />
  </div>
</div>
